<script>
    $( document ).ready(function() {
        //var socket = io.connect('http://localhost:3002');
    });
</script>

<ul id="messages">
  <%=render @messages %>
</ul>

<%= form_for @message, remote: true do |f| %>
    <%= f.text_field :message, autocomplete: 'off' %>
    <button>Send</button>
<% end %>