<!DOCTYPE html>
<html>
<head>
  <title>Sockets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script> -->
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
